@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
}

*:hover, *:active, *:focus {
    outline: none !important;
}

/* HELPERS */

.heading-text {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
}

.subheading-text {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
}

.full-height {
    min-height: 100vh;
}

.half-height {
    min-height: 50vh;
}

.red-color {
    color: red;
}

.btn-default-black {
    color: #fff;
    background: #000;
}

.btn-default-black:hover {
    color: #fff;
    background: #111;
}

.disp-block {
    display: block;
}

/* HELPERS END */

body {
    background: #000;
}

.main-navbar nav.navbar {
    background: #000;
    background: linear-gradient(45deg , #000, transparent);
}

main{
    padding-top: 3rem;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

main .video-container video {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .hero-text {
    font-size: 10rem;
}

main .hero-text span:nth-child(1){
    color: rgba(255, 255, 255, 1);
}

main .hero-text span:nth-child(2){
    color: rgba(255, 255, 255, 0.5);
}

.project-div {
    min-height: 500px;
    color: #fff;
    background: #2e2e2e;
    background: linear-gradient(0deg, #2e2e2e, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services .service-inner {
    background: #000;
    min-height: 200px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-bottom: 5px solid #f0f0f0;
    border-radius: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-size: cover;
    filter: grayscale(1);
}

.services .service-inner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.services .service-inner:hover {
    border-bottom: 5px solid red;
    filter: grayscale(0);
}

.services .service-inner h5 {
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.services .service-inner:hover h5 {
    font-size: 1.5rem;
}

.about {
	position: relative;
}

.me-bg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
    z-index: -10;
}

.me-bg-container img {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    object-fit: cover;
    
}

.me-bg-container:after {
	content: '';
	z-index: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.about .about-content {
    color: #fff;
}

.about .social a {
    color: #fff;
    margin: 1rem;
    display: inline-block;
}


footer {
    background: #1e1e1e;
    background: linear-gradient(180deg, #1e1e1e, transparent);
}


/* MEDIA QUERIES */

@media(max-width:768px) {

    .heading-text { 
        font-size: 3rem;
    }

    main .hero-text {
        font-size: 4rem;
    }

    .services .service-inner:nth-child(3), .services .service-inner:nth-child(4) {
        margin-top: 30px;
    } 

}